{#
/**
 * @file vote_entity.html.twig
 * Default theme implementation to present Vote entity data.
 *
 * This template is used when viewing Vote entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vote_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('vote_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
